<br>
<br>
<br>
<br>
<script type="text/javascript"> 
        function sendEmail() { 
          Email.send({ 
            Host: "smtp.gmail.com", 
            Username: "languageisland980@gmail.com", 
            Password: "Toronto2468", 
            To: 'languageisland980@gmail.com', 
            From: "cycyc302@gmail.com", 
            Subject: "Sending Email using javascript", 
            Body: "Well that was easy!!", 
          }) 
            .then(function (message) { 
              alert("mail sent successfully") 
            }); 
        } 
      </script>
<script src="https://smtpjs.com/v3/smtp.js"></script>
<div class="container">
    <h1 style="text-align: center;">
        Contact page
    </h1>
    <form action="POST">
        <div class="row">
            <div class="col-25">
                <label for="fname">First Name</label>
            </div>
            <div class="col-75">
                <input type="text" id="fname" name="firstname" placeholder="Your name..">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="lname">Last Name</label>
            </div>
            <div class="col-75">
                <input type="text" id="lname" name="lastname" placeholder="Your last name..">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="email">Email</label>
            </div>
            <div class="col-75">
                <input type="text" id="email" name="email" placeholder="Your email..">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="subject">Message</label>
            </div>
            <div class="col-75">
                <textarea id="subject" name="subject" placeholder="Message.." style="height:200px"></textarea>
            </div>
        </div>
        <div class="row">
            <input type="button" value="Send Email" onclick="sendEmail()" />

        </div>
    </form>
</div>
<br>
<br>
<br>
