*{
    margin: 0;
    padding: 0;
}

html body{
    height: 100vh;
    width: 100%;
    background-image: url("../images/ocean-theme.png");
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
    background-color: brown;
}

.navbar{
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}

header{
    background-color: white;
    /* color: brown; */
    text-align: center;
    border-radius: 5px;
}



.card-header {
    text-align: center;
}

.entryErr {
    color: red;
}

/* .card{
    position: absolute;
    left: 50%;
    margin-left: -225px;
} */

