@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,600&display=swap');

*{
    margin: 0;
    padding: 0;
}

html body{
    height: 100vh;
    width: 100%;
    background-image: url("../images/ocean-theme.png");
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
    background-color: brown;
}

.navbar{
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}

header{
    /* background-color: rgba(255, 255, 255, 0.2); */
    font-family: 'Open Sans', sans-serif;
    color: #000;
    text-align: center;
    border-radius: 5px;
    opacity: 0.7;
}




.card-header {
    text-align: center;
}

.entryErr {
    color: red;
}

/* .card{
    position: absolute;
    left: 50%;
    margin-left: -225px;
} */

